<div class="card-body">
  <div class="card-block">
    <h5 class="card-title">New Name</h5>
  </div>
  <div class="card-block">
    <form>
      <div class="form-group">
        <label>Type</label>
        <select class="form-control" data-ng-model="targetTableName" data-ng-init="targetTableName='customer'" data-ng-change="setPersonType()">
          <option>supplier</option>
          <option>customer</option>
        </select>
      </div>
      <div class="clearfix mb-1">
        <div class="float-xs-left"><a href="javascript:void(0)" class="btn btn-outline-primary btn-sm mt-1" data-ng-click="showCreatePersonDialog()"><i class="icon-plus3"></i> Details</a></div>
      </div>
    </form>
  </div>
</div>